.chip {
  position: relative;
  display: grid;
  place-items: center;
  text-shadow: 0 0 16px #222;
  color: #fff;
}

.chip svg {
  filter: drop-shadow(0 0 5px #444);
}

.chip::after {
  content: attr(data-accumulated);
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.chip-button {
  background: none;
  border: none;
}

.chip-button > div {
  transition: filter 0.3s;
}

.chip-button:not(:disabled):hover > div {
  filter: brightness(0.8);
}

.chip-button:disabled > div {
  filter: brightness(0.6);
}
